.card{:style => "width: 22rem;"}
  .card-body
    %h5.card-title 
      = "Your link to: " + @url.title.to_s
    %p.card-text
      = complete_path(@url)
    %input#shortenedUrl.d-none{:value => complete_path(@url)}
  %ul.list-group.list-group-flush
    %li.list-group-item 
      = @url.original
  .card-body
    %button.btn.btn-primary{:onclick => "copyToClipBoard()"} Copy Link
    =link_to("Go Back", root_path, {class: "card-link"})