.card{:style => "width: 22rem;"}
  .card-body
    %h5.card-title 
      = "Your link to: " + @url.title.to_s
    %input.url-inputt#shortenedUrl{:value => complete_path(@url), :style => "width: 80%;"}
  %ul.list-group.list-group-flush
    %li.list-group-item 
      = @url.original
  .card-body
    %button.btn.btn-primary{:onclick => "copyToClipBoard()"} Copy Link
    =link_to("Go Back", root_path, {class: "card-link"})